<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"	
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cs.dit.config">
	<resultMap type="board" id="boardResult">
		<result property="bcode" column="bcode"/>
		<result property="subject" column="subject"/>
		<result property="writer" column="writer"/>
		<result property="content" column="content"/>
		<result property="regDate" column="regDate"/>	
	</resultMap>

	<select id="selectAll" resultMap="boardResult">
		select * from PRACTICEBOARD order by bcode desc
	</select>
	
	<select id="selectOne" resultMap="boardResult">
		select * from PRACTICEBOARD where bcode = #{bcode}
	</select>
	
	<insert id="boardInsert" parameterType="board">
		insert into PRACTICEBOARD(bcode, subject, writer, content, regDate) values(SEQ_PRACTICEBOARD_BCODE.nextval, #{subject}, #{writer}, #{content}, sysdate)
	</insert>
	
	<update id="boardUpdate" parameterType="board">
		update PRACTICEBOARD set subject=#{subject}, writer=#{writer}, content=#{content} where bcode = #{bcode}
	</update>
	
	<delete id="boardDelete" parameterType="board">
		delete from PRACTICEBOARD where bcode = #{bcode}
	</delete>
</mapper>